.hidden {
  display: none;
}

.loading-btn {
  font-family: monospace;
  font-size: 24px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 10px 10px;
  border-radius: 2px;
}
